@model Origen
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form action="/Home/GetOrigen" method="POST">
        <input type="text" name="RutSinDV" placeholder="RutSinDV" required />
        <input type="text" name="DV" placeholder="DV" required />
        <input type="text" name="IdCampañaCRM" placeholder="IdCampañaCRM" required />

        <input type="submit" value="Process" />
    </form>

    <table style="width:100%;">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>



    <h2>@Model.Observación</h2>


</div>
